h1, h3 {
    color:aliceblue;
}

.mainwrapper{
    padding : 30px 50px;
    display:inline-block;
    width:100%;
}

.mainLeft{
    display:bolck;
    width: 50%;
    float:left;
}

.mainRight{
    display:block;
    width:50%;
    float:right;
}

.skill{
    margin-right: 10px;
}

.skillwrapper{
    width:300px;
}

.projects{
    margin: auto;
    width: 1000px;
    border-radius: 1rem;
    background-color: white;
}